ul li {
    font-size: 12px;
    font-weight: 300;
    color: var(--text-muted);
    margin-left: 10px;
    padding: 0;
}

@media (max-width: 550px) {
    .instructions {
        display: none;
    }
}

.help {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.author {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-top: auto;
    margin-left: auto; /* Add this line */
}
